/* Colors (reducido a lo usado en style.css) */

@define-color base rgb(33, 33, 33);
@define-color mantle #131313;
@define-color crust #11111b;

@define-color text #a6e3a1;
@define-color mauve #a6e3a1;
@define-color sky #89dceb;

@define-color red #f38ba8;
@define-color green #a6e3a1;
