/* Colors (reducido a lo usado en style.css) */

@define-color base rgb(10, 10, 10);
@define-color mantle #101010;
@define-color crust #11111b;

@define-color text #f38ba8;
@define-color mauve #f38ba8;
@define-color sky #89dceb;

@define-color red #f38ba8;
@define-color green #a6e3a1;
