/* Colors (reducido a lo usado en style.css) */

@define-color base rgba(30, 30, 46, 1);
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #cdd6f4;
@define-color mauve #a6dcf7;
@define-color sky #89dceb;

@define-color red #f38ba8;
@define-color green #a6e3a1;
